:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap{
  display:flex;
  
   align-items: center;
   justify-content: center;
 }

 .sortable-list {
             list-style-type: none;
             padding: 0;
             width: 20rem;
             min-height: 16rem;
             background-color: transparent;
             border: 1px solid #e74c3c;
             margin: 0rem 1rem 0rem 1rem;
         }

   .sortable-list.list1::before{
    content: "Drag and drop to reorder list";
   }  
   .sortable-list.list2::before{
    content: "Drag and drop from and to lists";
   } 
   .sortable-list.list0::before{
    content: "Drag and drop to empty list";
   }      
         .sortable-list li {
           display:flex;
          
             margin: 0.2rem 0;
             padding: 0.5rem;
             background-color: #3498db;
             color: #ffffff;
             cursor: move;
             
             width: calc(100% - 2px); 
             box-sizing: border-box;
          
 
         }
         .sortable-list li:hover {
             background-color: #2980b9;
         }
      .sortable-list li.dragging {
     opacity: 0.5;
     background-color: #e74c3c;
     width: 100%; /* Ensure it matches the full width */
     margin: 0; /* Remove margin adjustments */
     box-sizing: border-box; /* Ensure padding is included in the width */
 }
         .sortable-list .placeholder {
             background-color: transparent;
             border: 2px dashed #3498db;
             box-sizing: border-box;
     
         }
 